

$main-color: rgb(235, 235, 235);
$main-color2: rgb(190, 190, 190);
$main-color3: rgb(155, 155, 155);

$main-color-split: rgb(224, 216, 212);
$main-color-split2: rgb(185, 177, 174);
$main-color-split3: rgb(131, 128, 126);


$main-color-button: rgb(248, 195, 94);
$main-color-button2: rgb(223, 180, 101);
$main-color-button3: rgb(173, 138, 73);


$main-color-var1: rgb(155, 155, 155);
$main-color-var2: rgb(163, 163, 163);
$main-color-var3: rgb(184, 184, 184);
$main-color-var4: rgb(204, 204, 204);
$color-black: rgb(61, 60, 57);
$main-color-2-var1: rgb(95, 93, 89);
$main-color-2-var2: rgb(121, 118, 111);
$main-color-2-var3: rgb(175, 171, 160);
$main-color-2-var4: rgb(206, 199, 180);
$main-color-3: rgb(253, 232, 200);
